<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>TinyApp</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <div class="detail-box">
                            <div>
                                <h1>
                                    AutoDebloater: Automated Android App Debloating
                                </h1>
                                <h2>
                                    We are processing the app. Please back to our website 10 minutes later.
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>